create table if not exists public.system_settings (
  id integer primary key check (id = 1),
  church_name text not null default 'JHTM Church',
  church_address text not null default '123 Main St, City, Country',
  church_contact text not null default '+1 234 567 890',
  church_email text not null default 'contact@jhtmchurch.com',
  church_logo_url text,
  attendance_enable_qr boolean not null default true,
  attendance_allow_guest boolean not null default true,
  attendance_time_window integer not null default 120,
  prayer_allow_anonymous boolean not null default true,
  prayer_default_visibility text not null default 'leaders',
  event_enable_registration boolean not null default true,
  event_default_max_slots integer not null default 100,
  notification_email_alerts boolean not null default true,
  notification_in_app_alerts boolean not null default true,
  appearance_theme text not null default 'light',
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

insert into public.system_settings (id) values (1) on conflict (id) do nothing;
